# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# MLFlow
mlruns/
mlartifacts/
mlflow.db

# Data (optionnel si gros fichiers)
data/*.csv
!data/sample_submission.csv
!data/test_sample.csv
data/*.pkl

# Models
models/*.pkl
models/*.joblib

# Artifacts de production (NE PAS ignorer)
!artifacts/

# IDE
.vscode/
.idea/
.claude/
.clinerules/
*.swp

# Exports
export_OC_6/

# Environment
.env

# OS
.DS_Store